ul {
  list-style-type: none;

}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid white;
  width: 75%;
}


.expandable li:last-child {
  border: none;
}

.expandable{
  text-decoration: none;
  //color: #000;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
}

.expandable:hover {
    cursor: pointer;
    font-size: 25px;
    //background: #f6f6f6;
}

.not-expandable:hover {
  cursor: auto;
}

.fa-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
