@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

ul {
  color: blue;
}

li {
  color: red;
}

.expandable {
  color: green;
}
